@import "tailwindcss";

.banner-wrapper{
    width: 50%;
    height: 10rem;
    overflow: hidden;
}

.banner-wrapper .wrapper {
    display: flex;
}

.banner-wrapper .wrapper .images {
    display: flex;
    animation: swipe 5000ms linear infinite;
    
}

.banner-wrapper:hover .wrapper .images {
    animation-play-state: paused;
}

.scroll-pictures {
    max-width: 150px;
    height: 10rem;
    padding: 0 10px;
    object-fit: cover;
}

@keyframes swipe {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}