:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  padding: 0;
  margin: 0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 85px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* FIXME! move this to tailwind */
/* maybe after we redo the navbar though... */
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 50px;
  width: 100%;
  align-items: center;
  background-color: #d1b2da;
}

.nav-links {
  display: flex;
  width: 100%;
  text-align: center;
}

.nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #7915d7;
  font-weight: bold;
  margin-top: 35px;
  height: 60px;
  background-color: #d1b2da;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0rem 0.5rem;
}

.nav-links a.active {
  background: #f1eafb;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.nav-links a.inactive:hover {
  transform: translateY(10px);
}
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolling-gallery-wrapper {
  width: 50%;
  height: 10rem;
  overflow: hidden;
}

.scrolling-gallery-wrapper .wrapper {
  display: flex;
}

.scrolling-gallery-wrapper .wrapper .images {
  display: flex;
  animation: swipe 5000ms linear infinite;
}

.scrolling-gallery-wrapper:hover .wrapper .images {
  animation-play-state: paused;
}

.scroll-pictures {
  max-width: 150px;
  height: 10rem;
  padding: 0 10px;
  object-fit: cover;
}

@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
